.header {
  color: white;
  display: flex;
  align-content: center;
  padding: 0 8px;
  margin-bottom: 8px;
  transition: background-color .2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.content {
  padding: 8px;
}
