<ng-template>
  <div class="container" role="grid" @picker cdkTrapFocus cdkTrapFocusAutoCapture (keydown)="onKeyDown($event)">
    <div class="row" role="row" *ngFor="let group of groupedColors">
      <div role="gridcell" [attr.tabindex]="color === value ? 0 : -1"
           class="color" [ngStyle]="{backgroundColor: color}"
           *ngFor="let color of group" (click)="select(color)"
           color>
        <svg *ngIf="color === value" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
        </svg>
      </div>
    </div>
  </div>
</ng-template>
