<ng-template>
  <div class="container" @picker
       role="grid"
       (keydown)="onKeyDown($event)"
       cdkTrapFocus cdkTrapFocusAutoCapture
       [style.transformOrigin]="dir.value === 'ltr' ? 'left top' : 'right top'">
    <div class="row" role="row" *ngFor="let group of groupedColors">
      <color *ngFor="let color of group" (click)="select(color)"
             role="gridcell" (keydown)="onGridCellKeyDown($event, color)"
             [attr.tabindex]="color === value ? 0 : -1"
             [isSelected]="color === value" [color]="color">
      </color>
    </div>
  </div>
</ng-template>
