@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/cdk/overlay-prebuilt.css";
html, body {
  margin: 0;
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
